<h1 align=center><font size=5>Customer segmentation
  
[E-commerce database](https://www.kaggle.com/carrie1/ecommerce-data)

# 1) Data preprocessing

## 1.1) Discover kaggle API
Sign up to Kaggle account. Then go to 'Account' tab. Then select 'Create API Token'. Put your information form downloaded file to the KAGGLE_USERNAME and KAGGLE_KEY

In [ ]:

import os
os.environ['KAGGLE_KEY'] = "***your kaggle key***"### retrieve it on Kaggle 
os.environ['KAGGLE_USERNAME'] = "***your kaggle username***"

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

## 1.2) Download data
Download data and unzip it using ZipFile and delete original zip file.

In [ ]:
!kaggle datasets download -d carrie1/ecommerce-data

Downloading ecommerce-data.zip to /content
  0% 0.00/7.20M [00:00<?, ?B/s]
100% 7.20M/7.20M [00:00<00:00, 119MB/s]

In [ ]:
!ls -al

total 7392
drwxr-xr-x 1 root root    4096 Jun 24 13:50 .
drwxr-xr-x 1 root root    4096 Jun 24 13:47 ..
drwxr-xr-x 1 root root    4096 Jun 19 16:15 .config
drwx------ 4 root root    4096 Jun 24 13:50 drive
-rw-r--r-- 1 root root 7548686 Jun 24 13:50 ecommerce-data.zip
drwxr-xr-x 1 root root    4096 Jun 17 16:18 sample_data

In [ ]:
#unzip
!unzip \*.zip

Archive:  ecommerce-data.zip
  inflating: data.csv

In [ ]:
!rm ecommerce-data.zip

In [ ]:
!ls -al

total 44536
drwxr-xr-x 1 root root     4096 Jun 24 13:50 .
drwxr-xr-x 1 root root     4096 Jun 24 13:47 ..
drwxr-xr-x 1 root root     4096 Jun 19 16:15 .config
-rw-r--r-- 1 root root 45580638 Sep 20  2019 data.csv
drwx------ 4 root root     4096 Jun 24 13:50 drive
drwxr-xr-x 1 root root     4096 Jun 17 16:18 sample_data

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv',encoding='cp1252') ## or encoding='latin'
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

##1.3)  Read data and timestamp
Investigate shape and head. Investigate the types of the features, and transform the timestamps features to the correct format.

In [ ]:
df.shape

(541909, 8)

In [ ]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [ ]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [ ]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

##1.4) Missing values

Percentage of missing values for each feature. Make the new dataframe without CustomerID.

In [ ]:
df_dropna = pd.notnull(df['CustomerID'])
df_dropna = df[df_dropna]
df_dropna.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

## 1.5) Duplicates

Check the duplicates and remove it.

In [ ]:
df_dropna = df_dropna.drop_duplicates(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'])

In [ ]:
# check - should be zero if you done everything right
print("number of duplicates is ", sum(df_dropna.duplicated()))

number of duplicates is  0

## 1.6) Save data
Save preprocessed data to the file `data_dropna.csv` and the original data to `data.csv`

In [ ]:
#relative_path ='/content/drive/My Drive/data.csv'#your path
#data dataframe => relative_path+'/data.csv'
# data_dropna dataframe => relative_path+'/data_dropna.csv'
#save data and data_dropna
df.to_csv('/content/drive/My Drive/data1.csv')
df_dropna.to_csv('/content/drive/My Drive/data_dropna.csv')

In [ ]:
/content/drive/My Drive/Colab Notebooks